@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  /* green */
  --color-primary-foreground: #ffffff;
  --color-secondary: #f59e0b;
  /* Amber */
  --color-secondary-foreground: #171717;
  --color-accent: #3b82f6;
  /* green*/
  --color-accent-foreground: #ffffff;
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  /* Slate 900 */
  --color-muted: #f1f5f9;
  /* Slate 100 */
  --color-muted-foreground: #64748b;
  /* Slate 500 */

  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}